name: Chatbot Lambda CD

on:
  push:
    branches: [ "main" ]
    paths:
      - "lambda/chatbot/**"
      - ".github/workflows/deploy_chatbot.yml"

jobs:
  deploy:
    name: Deploy Chatbot Lambda
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: lambda/chatbot

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python (3.13)
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies & Prepare Package
        run: |
          mkdir -p package
          python -m pip install --upgrade pip
          
          if [ -f requirements.txt ]; then
            pip install \
              --platform manylinux2014_x86_64 \
              --implementation cp \
              --python-version 3.13 \
              --only-binary=:all: \
              --upgrade \
              --target package \
              -r requirements.txt
          fi
          
          # Copy code và thư viện lasotuvi
          cp lambda_function.py package/
          if [ -d "lasotuvi" ]; then
            cp -r lasotuvi package/
          fi

      - name: Zip Lambda package
        run: |
          cd package
          find . -type d -name "__pycache__" -exec rm -rf {} +
          zip -r ../chatbot.zip .

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name sorcererxstreme-chatbot \
            --zip-file fileb://chatbot.zip