name: Auto Deploy Embedding

on:
  push:
    branches: [ "main" ]
    paths:
      - "src/embedding/**"
      - ".github/workflows/deploy_embedding.yml"

jobs:
  deploy:
    name: Deploy to AWS Lambda
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/embedding

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python (3.13)
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies & Prepare Package
        run: |
          mkdir -p package
          python -m pip install --upgrade pip
          
          # Cài đặt thư viện chuẩn cho AWS Lambda (Linux x86_64)
          if [ -f requirements.txt ]; then
            pip install \
              --platform manylinux2014_x86_64 \
              --implementation cp \
              --python-version 3.13 \
              --only-binary=:all: \
              --upgrade \
              --target package \
              -r requirements.txt
          fi
          
          # Copy file code chính vào package
          cp lambda_function.py package/

      - name: Zip Lambda package
        run: |
          cd package
          find . -type d -name "__pycache__" -exec rm -rf {} +
          zip -r ../embedding.zip .

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Update Lambda Function Code
        run: |
          aws lambda update-function-code \
            --function-name sorcererxstreme-embedding \
            --zip-file fileb://embedding.zip